<div class="p-4 me-5 pe-5 bg-white w-100 fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid mt-0">
    <a class="navbar-brand title" href="/">WE <span>Cart</span> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold mx-3" aria-current="page" href="/">Home</a>
        </li>
        
        
       <li class="nav-item">
          <a class="nav-link text-dark fw-bold mx-3" aria-current="page" href="/men">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold mx-3" aria-current="page" href="/women">Women</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link text-dark fw-bold mx-3" aria-current="page" href="/brand">Brand</a>
        </li> --}}
        
      </ul>
      {{#if search}}
      <form action="/search" method="post">
        <input type="text" name="sample_search" id="sample_search" onkeyup="search_func(this.value);">
        <button class="btn btn-secondary btn-sm" type="submit">Search</button>
      </form>
      {{/if}}
      <form class="d-flex">
        {{!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> --}}
       {{#if user}}
         {{#if cartproducts}}
         
         {{else}}
       {{!-- cart with count --}}
       <ul class="ms-3" >
         <li class = "active mt-2 me-2" style="list-style:none">
      <a href = "/cart">
         <span class = "badge pull-right text-danger" id="cartcount">{{cartcount}}</span>
         <i class="fa fa-shopping-cart" style="font-size:36px;color:black"></i>
         
      </a>
   </li>
       </ul>
       {{/if}}
         


{{!-- logout --}}

 {{!-- dropdown --}}

    <div class="dropdown">
        <div class="profile"> 
          {{#if profilepic.profile}}
                 <div id="container" class="mt-2">
          <div id="nam">
             <img src="/images/profile/{{profilepic._id}}.png" alt="">
          </div>
        </div>
        {{else}}
        <div id="container" class="mt-2">
          <div id="name">
           
          </div>
        </div>
        {{/if}}

            <div class="dropdown-content">
                <ul>
                    
                    <li><i class='bx bx-user'></i><a href="/profile"><span>Profiles</span></a></li>
                    <li><i class=''></i><a href="/Orders"><span>Orders</span></a></li>
                    <li><i class=''></i><a href="/logout"><span>logout</span></a></li>
                    <li><i class=''></i><a href="/wishlist"><span>Wishlist</span></a></li>
                    
                    
                </ul>
            </div>
            
        </div>
    </div>

 {{!-- dropdown --}}
        
        </div>
        
        <input style="display: none;" id="user11" type="text" value="{{user.firstname}}">
        <input style="display: none;" id="user2" type="text" value="{{user.lastname}}">
        
        {{else}}
        <div class="ms-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        </div>
         <a href="/login" ><div class="ms-2 mt-1 text-dark fw-bold">Login</div></a>
         {{/if}}
      </form>
    </div>
  </div>
</nav>
</div>

<style>

 

.profile{
    position: relative;
    text-align: center;
    
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    
    z-index: 1;
    
}

.dropdown-content a {
    color: black;
    
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    background-color:
}

.dropdown:hover .dropdown-content {
    display: block
}

.profile ul {
    background-color: #fff;
    width: 200px;
    height: 190px;
    border-radius: 10px;
    right: 25px;
    top: 7px;
    position: absolute;
    padding: 8px;
    transition: all 0.5s;
    z-index: 1
}

.profile ul::before {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 10px;
    top: -5px;
    transform: rotate(45deg)
}

.profile ul li {
    list-style: none;
    text-align: left;
    font-size: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 4px
}

.profile ul li:hover {
    background-color: #eee
}

.profile ul li i {
    margin-right: 7px
}












  #ex4 .p1[data-count]:after{
  position:absolute;
  right:10%;
  top:7%;
  content: attr(data-count);
  font-size:40%;
  padding:.2em;
  border-radius:50%;
  line-height:1em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
  //font-weight:bold;
}

  #container {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100px;
  background: #333;
}
#name {

  width: 100%;
  text-align: center;
  color: white;
  font-size: 1em;
  line-height: 40px;
}
</style>

<script>
   var name = document.getElementById('user11').value;
  var lastname = document.getElementById('user2').value;
  var initials = name.charAt(0)+""+lastname.charAt(0);
  document.getElementById("name").innerHTML = initials;
</script>

