<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">




<div class="container all-products pt-2">


    
    
<h5>My Orders</h5>
<hr>




<div class="hscroll">
  {{#if orders}}


<table width="100%" border="1" cellspacing="0" cellpadding="6" class="table table-hover shopping-cart-wrap">
<thead class="text-muted">
<tr class="">
  <th scope="col">Product</th>
  <th scope="col" width="120">Payment</th>
  <th scope="col" width="120">Order</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" width="200" class="text-right">Action</th>
</tr>
</thead>
<tbody>
	{{#each orders}}
<tr class="tablerow">
	<td>
<figure class="media">
	{{!-- <div class="img"><img src="/images/product-images/{{this.orders.products.item}}_1.png" class="i img-sm"></div> --}}
	<figcaption class="media-body">
		<h6 class="title text-truncate">Order Date: <span class="date" id="date">{{this.orders.orderDate}}</span> </h6>
		<dl class="param param-inline small">
		  <dt>Order No.:  </dt>
		  <dd>{{this.orders._id}}</dd>
		</dl>
        <dl class="param param-inline small">
		  <dt>Payment Method:  </dt>
		  <dd>{{this.orders.paymentMethod}}</dd>
		</dl>
        <dl class="param param-inline small">
		  <dt>Destination:  </dt>
		  <dd>{{this.orders.deliveryaddress.address.address}}</dd>
		</dl>
		{{!-- <dl class="param param-inline small">
		  <dt>Quantity: </dt>
		  <dd>{{this.orders.products.quantity}}</dd>
		</dl> --}}
	</figcaption>
</figure> 
	</td>
	<td> 
		<p>{{this.orders.status}}</p>
	</td>

    <td> 
		<p id="order">{{this.orders.order_status}}</p>
	</td>

	<td> 
		<div class="price-wrap"> 
			<var class="price">₹ {{this.orders.grandtotal}}</var> 
			{{!-- <small class="text-muted">(USD5 each)</small>  --}}
		</div> <!-- price-wrap .// -->
	</td>
    
	<td class="text-right"> 
    <a href="/view-order-product/{{this._id}}" class="btn btn-primary me-3 me-md-1 btn-sm"> View Details</a>
    {{#if this.orders.order}}
            {{#if this.orders.delivered}}

            {{else}}
    <a id="cancel"  href="/order-cancel/{{this._id}}" class="btn btn-danger me-3 me-md-1 mt-2 btn-sm "> Cancel order</a>
            {{/if}}
    {{else}}
    <a href="" style="pointer-events: none; cursor: default;" class="btn btn-outline-danger me-3 me-md-1 mt-2 btn-sm border-0" disabled> order cancelled</a>
    {{/if}}
	</td>
    
</tr>
{{/each}}
</tbody>
</table>


</div> <!-- card.// -->
{{else}}
<div class="container-fluid mt-5 " style="min-height: 100vh;">
    <div class="row">
        <div class="col-md-12 " >
            <div class="card" style="min-height: 100vh;">
                
                <div class="card-body cart" style="margin-top: 15%;">
                    <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://previews.123rf.com/images/jovanas/jovanas1602/jovanas160200128/51873245-order-now-shopping-cart.jpg" width="130" height="130" class="img-fluid  mr-3">
                        <h3><strong>You haven’t placed any orders
</strong> <p class="fs-6 text-secondary">All your orders will appear here</p></h3>
                        <h4></h4> <a href="#" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/if}}

</div> 
<!--container end.//-->
</article>
<script>
    
   
    const tablerow = document.getElementsByClassName('tablerow')
    console.log(tablerow)

    for(const x of tablerow){
      let date =  x.querySelector('.date')
       date1 = date.innerHTML
    date1 = date1.split("GMT")[0]
    console.log(date1)
    date.innerHTML=date1
        
    }
</script>
<style>

    .hscroll {
  overflow-x: auto; /* Horizontal */
}
    .all-products{
        margin-top: 10%;
        background-color: #ecf0f3;
    }
    .param {
    margin-bottom: 7px;
    line-height: 1.4;
}
.param-inline dt {
    display: inline-block;
}
.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}
.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
} 

.shopping-cart-wrap .price {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}
var {
    font-style: normal;
}

.media img {
    margin-right: 1rem;
}
.img-sm {
    width: 100px;
    max-height: 85px;
    object-fit: cover;
}
</style>

<script>
  var order = document.getElementById('order').innerHTML
  var cancel = document.getElementById('cancel')
  console.log(order)
  if(order=="dispatched")
  {
    cancel.style.pointer-events="none"
  }
 

</script>   